html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  margin: 0;
  height: 100vh;
}

body, input, select, textarea{
  font-size:1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

